.header{
  position: fixed;
  width: 100%;
  height: 12%;
  right: 0%;
  top: 0%;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  /*以下開発用*/
  border: solid;
  border-width: thin;
  border-color: rgb(0, 0, 0);
}

#meka{
  position: fixed;
  height: 10%;
  top: 1%;
  left: 2.5%;
}

body{
  position: relative;
  top: 1000px;
}
.news{
  position: relative;
  bottom: 100%;
  left: 0%;
}

#news_img{
  position: relative;
  width: 95%;
  left: 2.5%;
  border-radius: 2%;
}

#contact{
  position: fixed;
  left: 85%;
}

#about{
  position: fixed;
  left: 71%;
}

#faq{
  position: fixed;
  left: 45%;
}

#challenge{
  position: fixed;
  left: 55%;
}

a{ 
  position: fixed;
  top: 2.5%;
  text-decoration: none;
  color: rgb(50, 50, 50);
  font-size: 200%;
}